* {
  /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  font-family: "Segoe UI", "Segoe UI Variable", "Segoe WP", Tahoma, sans-serif;
}

window#waybar {
  background-color: rgba(255, 255, 255, 0.7);
  color: #1c222b;

  padding: 0 5px;

  transition-property: background-color;
  transition-duration: 0.5s;

  font-size: 14px;
}

.modules-right {
  padding: 0 10px;
}

#clock {
  font-size: 12px;
}
